<app-notifications></app-notifications>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

    <h1 class="text-center">Wunddokumentation</h1>

    <div id="size" class="tab-pane fade in active">
        <table class="table">
          <thead>
            <tr>
              <th>Datum</th>
              <th>Länge</th>
              <th>Breite</th>
              <th>Bild</th>
            </tr>
          </thead>
          <tbody>
              <td>{{ documentation?.date }}</td> 
              <td>{{ documentation?.length }}</td>
              <td>{{ documentation?.width }}</td>
              <td><img *ngIf="documentation" [src]="apiUrl + '/' + documentation.img" style="width:400px;height:300px"/></td>
          </tbody>
        </table>
    </div>

    <form [formGroup]="documentationForm" novalidate (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Betroffene Gewebsstruktu</label>
            <div class="radio" *ngFor="let affectedTissue of DOCUMENTATION_AFFECTED_TISSUE">
              <label>
                <input type="radio" name="affectedTissue" formControlName="affectedTissue" [value]="affectedTissue">
                {{ affectedTissue }}
              </label>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Wundzustand</label>
            <div class="radio" *ngFor="let color of DOCUMENTATION_COLOR">
              <label>
                <input type="radio" name="color" formControlName="color" [value]="color">
                {{ color }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">        
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Wundexsudat</label>
            <div class="radio" *ngFor="let exsudat of DOCUMENTATION_EXSUDAT">
              <label>
                <input type="radio" name="exsudat" formControlName="exsudat" [value]="exsudat">
                {{ exsudat }}
              </label>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Wundbeurteilung</label>
            <div class="radio" *ngFor="let assessment of DOCUMENTATION_ASSESSMENT">
              <label>
                <input type="radio" name="assessment" formControlName="assessment" [value]="assessment">
                {{ assessment }}
              </label>
            </div>
          </div>
        </div>
    </div>
    <div class="row">        
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Wundrand</label>   
            <div class="checkbox" *ngFor="let edge of DOCUMENTATION_EDGE">
              <label>
                <input type="checkbox" name="edge" formControlName="edge" [value]="edge">
                {{ edge }}
              </label>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Weitere Symptomatik</label>
            <div class="checkbox" *ngFor="let symptoms of DOCUMENTATION_SYMPTOPMS">
              <label>
                <input type="checkbox" name="symptoms" formControlName="symptoms" [value]="symptoms">
                {{ symptoms }}
              </label>
            </div>
          </div>
        </div>
    </div>

    <div class="form-group">
        <label for="">Bemerkung</label>
        <input type="text" class="form-control" name="comment" formControlName="comment" [value]="comment">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

    </form>
  </div>
</div>