<div *ngIf="documentation" class="row">
  <app-notifications [patientLink]="patientId" [woundLink]="woundId" pageName="Dokumentation bearbeiten"></app-notifications>
  <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

    <h1 class="text-center">Wunddokumentation</h1>

    <div class="row wound-given-data margin-bottom-24">
      <div class="col-sm-6">
        <img class="width-100" [src]="apiUrl + '/' + documentation.img"/>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Datum</label>
          <div>{{ documentation?.date | date:"medium" }}</div>
        </div> 
        <div class="form-group">
          <label>Länge</label>
          <div>{{ documentation?.length *100 | number : '1.2-2'}} cm</div>
        </div>
        <div class="form-group">
          <label>Breite</label>
          <div>{{ documentation?.width *100 | number : '1.2-2'}} cm</div>
        </div>
      </div>
    </div>

    <form [formGroup]="documentationForm" novalidate (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Betroffene Gewebsstruktu</label>
            <div class="radio" *ngFor="let affectedTissue of DOCUMENTATION_AFFECTED_TISSUE">
              <label>
                <input type="radio" name="affectedTissue" formControlName="affectedTissue" [value]="affectedTissue.value">
                {{ affectedTissue.label }}
              </label>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Wundzustand</label>
            <div class="radio" *ngFor="let color of DOCUMENTATION_COLOR">
              <label>
                <input type="radio" name="color" formControlName="color" [value]="color.value">
                {{ color.label }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">        
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Wundexsudat</label>
            <div class="radio" *ngFor="let exsudat of DOCUMENTATION_EXSUDAT">
              <label>
                <input type="radio" name="exsudat" formControlName="exsudat" [value]="exsudat.value">
                {{ exsudat.label }}
              </label>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Wundbeurteilung</label>
            <div class="radio" *ngFor="let assessment of DOCUMENTATION_ASSESSMENT">
              <label>
                <input type="radio" name="assessment" formControlName="assessment" [value]="assessment.value">
                {{ assessment.label }}
              </label>
            </div>
          </div>
        </div>
    </div>
    <div class="row">        
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Wundrand</label>   
            <div class="checkbox" *ngFor="let edge of DOCUMENTATION_EDGE">
              <label>
                <input [checked]="documentationForm.controls['edges'].value.indexOf(edge) !== -1"
                  type="checkbox" name="edge" (change)="checkEdge($event, edge)">
                {{ edge }}
              </label>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Weitere Symptomatik</label>
            <div class="checkbox" *ngFor="let symptom of DOCUMENTATION_SYMPTOPMS">
              <label>
                <input [checked]="documentationForm.controls['symptoms'].value.indexOf(symptom) !== -1"
                  type="checkbox" name="symptom" (change)="checkSymptom($event, symptom)">
                {{ symptom }}
              </label>
            </div>
          </div>
        </div>
    </div>

    <div class="form-group">
      <label for="">Bemerkung</label>
      <input type="text" class="form-control" name="comment" formControlName="comment" (change)="foo()">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!documentationForm.valid">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Speichern
    </button>

    </form>
  </div>
</div>