<app-notifications></app-notifications>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

    <h1>Neu/e Patient/in</h1>
    <form [formGroup]="patientForm" novalidate (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="">Nachname</label>
            <input type="text" class="form-control" formControlName="lastName" placeholder="Nachname">
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="">Vorname</label>
            <input type="text" class="form-control" formControlName="firstName" placeholder="Vorname">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="">Wohnbereich</label>
            <input type="text" class="form-control" formControlName="address" placeholder="Wohnbereich">
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="">Geburtsdatum</label>
            <my-date-picker [options]="myDatePickerOptions" formControlName="birthdate" placeholder="Geburtsdatum"></my-date-picker>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="">Datum der Erhebung</label>
            <my-date-picker [options]="myDatePickerOptions" formControlName="creationDate" placeholder="Datum der Erhebung"></my-date-picker>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="">Ort der Entstehung</label>

            <div class="radio">
              <label>
                <input type="radio" value="true" name="reference" formControlName="reference">
                Einrichtung
              </label>
            </div>

            <div class="radio">
              <label>
                <input type="radio" value="false" name="reference" formControlName="reference">
                Extern
              </label>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-default" [disabled]="!patientForm.valid">Save</button>

    </form>
  </div>
</div>