<div class="container">

  <h2>{{patient?.firstName}} {{patient?.lastName}}</h2>

  <button class="btn btn-primary" routerLink="/wound/new">Neu Wund</button>
  <table class="table">

    <thead>
      <tr>
        <th>ID</th>
        <th>Wundart</th>
        <th>Wundursache</th>
        <th>Wundlokalisation</th>
        <th>QR Code</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let wound of patient?.wounds | filter:term">
        <td><a [routerLink]="['/wound', wound._id]" >{{wound._id}}</a></td>
        <td>{{wound.reason}}</td>
        <td>{{wound.type}}</td>
        <td>{{wound.position}}</td>
        <td><qr-code [value]="wound?._id" [size]="150"></qr-code></td>
      </tr>
    </tbody>

  </table>

</div>
