<app-notifications></app-notifications>

<div class="container" *ngIf="isDataAvailable">

  <h3>Wund am "{{ wound?.position }}"</h3>

  <button class="btn btn-primary" [disabled]="!wound || !patient" (click)="downloadQRCode()">Wund QR-code herunterladen</button>

  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#size">Größe</a></li>
    <li><a data-toggle="pill" href="#affectedTissue">Betroffene Gewebsstruktu</a></li>
    <li><a data-toggle="pill" href="#color">Wundzustand</a></li>
    <li><a data-toggle="pill" href="#exsudat">Wundexsudat</a></li>
    <li><a data-toggle="pill" href="#edge">Wundrand</a></li>
    <li><a data-toggle="pill" href="#symptoms">Weitere Symptomatik</a></li>
    <li><a data-toggle="pill" href="#assessment">Wundbeurteilung</a></li>
    <li><a data-toggle="pill" href="#comment">Bemerkung</a></li>
    <li><a data-toggle="pill" href="#img">Bild</a></li>
  </ul>
  
  <div class="tab-content">

    <div id="size" class="tab-pane fade in active">
      <div class="row">
        <div class="col-md-6">
          <div style="display: block;">
            <canvas baseChart width="400" height="400"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        legend="True"
                        chartType="line">
            </canvas>
          </div>
        </div>
        <div class="col-md-6" style="margin-bottom: 10px">
         
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Datum</th>
                <th>Länge</th>
                <th>Breite</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doc of wound?.documentations">
                 <td><a [routerLink]="['/patient', patient._id,'wound', wound._id, 'documentation', doc._id]" >{{doc._id}}</a></td>
                 <td>{{ doc.date }}</td> 
                 <td>{{ doc.length }}</td>
                 <td>{{ doc.width }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="img" class="tab-pane fade in active">
        <div id="carouselId" class="carousel slide" data-ride="carousel" style="width:600px">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item" [class.active]="isFirst" *ngFor="let doc of wound?.documentations; let isFirst = first">
              <img [src]="apiUrl + '/' + doc.img" style="width:600px;height:450px"/>
              <div class="carousel-caption">
                <h3>{{ doc.date }}</h3>
              </div>
            </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#carouselId" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Nächste</span>
          </a>
          <a class="right carousel-control" href="#carouselId" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Nächste</span>
          </a>
        </div>
    </div>


</div>