<div class="container">
  
  <button class="btn btn-primary" routerLink="/patient/new">Neu/e Patient/in</button>
  <br>
  <input type="text" class="form-control" [(ngModel)]="term" placeholder="Suche Patienten">

  <table class="table">

    <thead>
      <tr>
        <th>Name</th>
        <th>Wohnbereich</th>
        <th>Ort der Entstehung</th>
        <th>Geburtsdatum</th>
        <th>Datum der Erhebung</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let patient of patients | filter:term">
        <td><a [routerLink]="['/patient', patient._id]" >{{patient.firstName}} {{patient.lastName}}</a></td>
        <td>{{patient.address}}</td>
        <td>{{!!patient.reference ? "Einrichtung" : "Extern"}}</td>
        <td>{{patient.birthdate}}</td>
        <td>{{patient.creationDate}}</td>
      </tr>
    </tbody>

  </table>

</div>