<div class="container width-100">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <ol class="breadcrumb padding-top-15">
              <li class="breadcrumb-item">                
                <a [routerLink]="['/']">
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                  WDM
                </a>
              </li>
              <li class="breadcrumb-item" *ngIf="patientLink">
                <a [routerLink]="['/patient', patientLink]">
                  Patient
                </a>
              </li>
              <li class="breadcrumb-item" *ngIf="woundLink">
                <a [routerLink]="['/patient', patientLink, 'wound', woundLink]">
                  Wund
                </a>
              </li>
              <li class="breadcrumb-item" *ngIf="pageName">
                  {{ pageName }}
              </li>
            </ol>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bitte füllen Sie die Daten für (<b>{{ notifications.length }}</b>) Wunddokumentationen aus</a>
              <ul class="dropdown-menu notify-drop">
                <div class="drop-content">
                  <li *ngFor="let note of notifications">
                    <a [routerLink]="['/patient', note.patient._id,'wound', note.wound._id, 'documentation', note.documentation._id]">
                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="notify-img">
                          <img [src]="apiUrl + '/' + note.documentation.img" style="width:40px;height:30px">
                        </div>
                      </div>
                      <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                          Wunde am "{{ note.wound.position }}" für "{{ note.patient.firstName }} {{ note.patient.lastName }}"
                      </div>
                    </a>
                  </li>
                </div>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </nav>
  </div>
</div>
